<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Blog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

        <!-- Medium Style Editor.Source - https://github.com/yabwe/medium-editor-->
        <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

        <!-- Custom CSS-->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Russo+One&display=swap" rel="stylesheet">
        
    </head>
    <body class="loader">
        <nav class="navbar navbar-expand-lg navbar-light bg-light techfont custom-navbar"> 
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'post_list' %}" class="navbar-brand bigbrand">My Blog</a></li>
                    <li><a href="{% url 'about' %}" class="nav-link">About</a></li>
                    <li><a href="https://github.com/AgrlPritam" class="nav-link">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/pritam-pratik-agrawal-a97659b4/" class="nav-link">LinkedIn</a></li>
                </ul>

                <ul class="nav justify-content-end">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'post_new' %}" class="nav-link">New Post</a></li>
                    <li class="nav-item"><a href="{% url 'post_draft_list' %}" class="nav-link">Drafts</a></li>
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Log Out</a></li>
                    <li class="nav-item"><a>Welcome: {{user.username}}</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link"><i style='font-size:40px' class="fas fa-user"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog_posts">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>